# =========================
# Application
# =========================
AUTH_MODE=fake

# =========================
# PostgreSQL
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=interviewer
POSTGRES_PASSWORD=change_me
POSTGRES_DB=interviewer

# =========================
# Authentik
# =========================
AUTHENTIK_ISSUER=change_me
AUTHENTIK_CLIENT_ID=change_me
AUTHENTIK_CLIENT_SECRET=change_me
